---
---

@import "{{ site.theme }}";

header {
  padding-top: 15px; 
  padding-bottom: 0px;
}

#downloads {
  display: none;
}

limg { float:left; margin-right:20px; margin-top:10px; margin-bottom:10px; }
rimg { float:right; margin-left:20px; margin-top:10px; margin-bottom:10px; }

h3 { margin-bottom: 8px; font-size: 18px; font-weight: bold; color: #303030; }

header h3 { margin-bottom: 8px; font-size: 18px; font-weight: bold; color: #303030; }

header a { color:#303030; }

.inner { width: 700px; margin: 0 auto; }