<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="stylesheet" href="/assets/css/syntax.css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="favicon" type="image/x-icon" href="favicon.ico">
	{% if site.google_analytics %}
		{% include analytics.html %}
	{% endif %}
	{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h3>
            <a href="/"><img src="assets/images/home-block.png" alt="Home" class="imgblock" /></a>
            &nbsp;&nbsp;
            <div class="dropdown">
              <button class="button"><img src="assets/images/oss-block.png" alt="OSS" /></button>
              <div class="dropdown-content">
                <a href="perspective.html">Perspective</a>
                <a href="model.html">Model</a>
              </div>
            </div>
            &nbsp;&nbsp;
            <div class="dropdown">
              <button class="button"><img src="assets/images/tech-block.png" alt="Tech" /></button>
              <div class="dropdown-content">
                <a href="architecture.html">Architecture</a>
                <!--<a href="mmlang.html">mmlang</a>-->
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/mm-adt"><img src="assets/images/github-icon.png" alt="GitHub" class="icon" /></a>
            <a href="https://twitter.com/_mmadt"><img src="assets/images/twitter-icon.png" alt="Twitter" class="icon"/></a>
            <a href="https://stackexchange.com/users/16990143/mm-adt"><img src="assets/images/stackoverflow-icon.png" alt="StackOverflow" class="icon"/></a>
            <a href="https://mm-adt.slack.com"><img src="assets/images/slack-icon.png" alt="Slack" class="icon"/></a>
            <a href="mailto:info@mm-adt.org"><img src="assets/images/email-icon.png" alt="Mail" class="icon"/></a>
          </h3>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>
        <footer>
          &#169; 2019 <a href="http://rredux.com">RReduX,Inc.&#8482;</a><br/>
          mm-ADT is a trademark of <a href="http://rredux.com">RReduX,Inc.</a> Public domain vintage poster graphics provided by <a href="https://www.pinterest.com/theviintage/">viintage</a>.
        </footer>

      </div>
    </div>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>